#img {
    width: 360px;
    height: 314px;
    background-image: url('Ondevice_Sequence_Vertical.png');
    background-position: 0 bottom;
}
.animation-icon {
    background-size: 360px 11932px;
    animation: 3.5s steps(38, end) 0s normal none ani-icon;
}
@keyframes ani-icon {
    0% {background-position: 0 0;}
    100% {background-position: 0 -11932px;}
}

#img2 {
    width: 360px;
    height: 314px;
    background-image: url('Inform_Vertical.png');
    background-position: 0 bottom;
}
.animation-icon2 {
    background-size: 360px 14130px;
    animation: 3.5s steps(45, end) 0s normal none ani-icon2;
}
@keyframes ani-icon2 {
    0% {background-position: 0 0;}
    100% {background-position: 0 -14130px;}
}