.hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
}
.test{
    background: greenyellow;
}
.test2{
    background: deepskyblue;
}
.test3{
    background: indianred;
}
.test4{
    background: darkgray;
}
.col{
    display: inline-block;
    width: 30%;
}