/* RESET CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; font-family:'proxima-nova', Helvetica, Sans-Serif;}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none; color:rgba(6, 71, 118, 1);}
/* change colours to suit your needs */
ins { background-color:#ff9; color:#000; text-decoration:none; }
/* change colours to suit your needs */
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
/* change border colour to suit your needs */
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
*:focus { outline: 0; }

/* GENERIC CLASSES */

body { font-family: 'proxima-nova', Helvetica, Sans-Serif; background-image: url('img/background.jpg'); background-repeat:repeat; margin: 0; color: rgb(25,25,25); }
label { font-family: 'proxima-nova', Helvetica, Sans-Serif;}
input { height:20px; }
h1 { font-size:46px; font-family: 'proxima-nova', Helvetica, Sans-Serif;}
h2 { font-size:24px; font-family: 'proxima-nova'. Helvetica, Sans-Serif;}
p { margin:0px; font-family: 'proxima-nova', Helvetica, Sans-Serif; }

/* UNIVERSAL CLASSES */

.labelUnit { margin: 0 20px 0 20px; display:inline;}
.uppercase { text-transform: uppercase; }
.bold { font-weight:700; }
.notbold { font-weight:400; }
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.light { font-size:14px; }
.medium { font-size:16px; }
.medium2 { font-size:20px; }
.large { font-size: 26px; }
.blue { color: #47a0e2; }
.red { color: rgb(170,0,0); }
.green{ color: #004712; }
.orange { color:#f56f10; }
.dark { color: rgb(25,25,25); }
.displaynone { display: none; }
.proxima { font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif; }
.opacity5{ opacity: .5; }
.noPointer{ cursor: default; }
.floatLeft { float:left; }

/* HEADER CLASSES */

#header{ width: 100%; margin: 0 auto; background-color: rgba(255,255,255,1);}
.mainText { margin:0; }
.description { width: 880px; margin: 0px auto 20px;}
#headerContainer{ margin: 0 auto; width:920px; height: 140px;}
/*#bottomBorder{ height:4px; width:920px; background-image: url(img/topborder.png); margin:0 auto; }*/

/* CALCULATOR CLASSES */

#calcContainer { margin:0 auto; width:920px; margin-top:34px;}
#calc1{ text-align: left; }

/* TITLE CLASSES */

.blockTitle {padding:8px 20px 8px 20px; color:rgb(255,255,255); background-color: #5d6270; margin: 42px 0 0 0; font-size: 22px; font-weight: 300; text-align: left;}

/* TARGET BOX CLASSES */

.targetBox { height: 148px; background-color: rgba(255,255,255,.2);}
.target { width: 400px; padding: 30px 20px 20px 20px; position: relative; float:left; }

/* RECOVERY TIME CLASSES */

#recoveryTimeBox { margin-right:20px; }
.rtoTitle,.rpoTitle { margin-bottom: 40px; }
.rtoTarget, .rpoTarget { width: 302px; }
.rtoTarget label, .rpoTarget label{ left:22%; position:relative; }

/* CALCULATOR CLASSES */

#recoveryInfo { width:920px; height:314px; background-color: rgba(255,255,255,.2); }
#downtimeCosts { width:920px; height: 336px; background-color: rgba(255,255,255,.2); }

.opacity60 { opacity: .60; }

/* COLUMN CLASSES */

#col1, #col2, #col3, #col4 { width: 400px; float:left; padding:10px;}
.columnList li { list-style-type: none; }
#col1, #col3 { margin: 5px 20px 0 0; }
.margin32 { margin: 0 0 32px 0; }
.margin27 { margin: 0px 0px 44px; }

/* INPUT CLASSES */

#inner-editor { height:30px; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number]{ width:60px; height: 22px;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family:'proxima-nova', Helvetica, Sans-Serif; text-align:center; font-weight: 700; !important }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 0px; !important }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 0px; !important }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 0px; !important }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 0px; !important }

/* CALCULATE BUTTON CLASSES */

#calcButton{ margin-bottom:42px;text-align: center;}
button#openModal { 
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.02, #335B98),
	color-stop(1, #1A2B49)
);
background-image: -o-linear-gradient(bottom, #335B98 2%, #1A2B49 100%);
background-image: -moz-linear-gradient(bottom, #335B98 2%, #1A2B49 100%);
background-image: -webkit-linear-gradient(bottom, #335B98 2%, #1A2B49 100%);
background-image: -ms-linear-gradient(bottom, #335B98 2%, #1A2B49 100%);
background-image: linear-gradient(to bottom, #335B98 2%, #1A2B49 100%); 
padding:10px 20px; cursor: pointer; border: none; font-family: 'proxima-nova', Helvetica, Sans-Serif;}
button#openModal:hover{ background-color:#61130d; }

/* RESULTS CLASSES */

.main-dialog-class{ display: none; }
.counter{ display:block; }

/* FOOTER */

#footer{ width: 100%; margin: 0 auto; background-color: rgba(255,255,255,1); padding:20px 0 20px 0; }
.footerText{ margin:0; text-align: center; }

/* LOGO ANAIMATION */

#logoBlock{
    height: 132px;
    width: 132px;
    display: block;
    float: left;
}

#logoBlock img{
    width:100%
}

/* PRINT BUTTON */

input#printBtn { 
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.02, #335B98),
	color-stop(1, #1A2B49)
);
background-image: -o-linear-gradient(bottom, #335B98 2%, #1A2B49 100%);
background-image: -moz-linear-gradient(bottom, #335B98 2%, #1A2B49 100%);
background-image: -webkit-linear-gradient(bottom, #335B98 2%, #1A2B49 100%);
background-image: -ms-linear-gradient(bottom, #335B98 2%, #1A2B49 100%);
background-image: linear-gradient(to bottom, #335B98 2%, #1A2B49 100%); 
padding:10px 20px; cursor: pointer; border: none; font-family: 'proxima-nova', Helvetica, Sans-Serif; float:right; height:40px; color:#fff;}
input#printBtn:hover { background-color:#61130d; }

/* RADIO BUTTON */

input[type=radio], input[type=checkbox] {
    display:none;
}

input[type=radio] + label, input[type=checkbox] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

input[type=radio]:checked + label, input[type=checkbox]:checked + label{
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.02, #335B98),
	color-stop(1, #1A2B49)
);
background-image: -o-linear-gradient(bottom, #335B98 2%, #1A2B49 100%);
background-image: -moz-linear-gradient(bottom, #335B98 2%, #1A2B49 100%);
background-image: -webkit-linear-gradient(bottom, #335B98 2%, #1A2B49 100%);
background-image: -ms-linear-gradient(bottom, #335B98 2%, #1A2B49 100%);
background-image: linear-gradient(to bottom, #335B98 2%, #1A2B49 100%);
    outline: 0;
    color: #fff;
}
/*Override theme*/
body {
  font-size: 13px;
}
.wrapper{
    min-width: 100%;
}
.onecolumn .content h2:first-child{
    background: none;
    width: auto;
    margin: 0;
}

.ui-widget-content{
    background: #ccc !important;
}
#header_widgets .icon_multi .icon-text {
  width: 175px;
}
#calcContainer .margin32 {
  margin: 0 0 32px;
}
#calcContainer .margin27 {
  margin: 0 0 44px;
}