.single-post .body-background {
    background-color: #f2f2f2;
    padding-top: 0;
}
.single-post .well-blog {
    background: none repeat scroll 0 0 #fff;
    padding: 0;
}
.single-post span[itemprop="name"] {
    font-size: 42px;
}
.single-post .well-blog .content > h2 {
    padding: 30px 70px 0;
    line-height: 1.2;
}
.single-post .well-blog .content > footer {
    border-bottom: 0 none;
    padding: 0 70px;
}
.single-post .well-blog .content > div[itemprop=articleBody] {
    padding: 70px 70px 0;
}
.single-post .well-blog > .comments, 
.single-post .well-blog #disqus_thread {
    padding: 0 70px;
}
.single-post .well-blog > .additional {
    padding: 0 70px 30px;
}
.single-post .well-blog .content > figure {
    background: #ccc;
}
.single-post .well-blog .content > figure > img {
    margin: 0 auto;
}
.single-post .content p.lead {
    font-size: 20px;
    line-height: 1.6;
}
.single-post .content p {
    font-size: 18px;
    line-height: 1.5;
}
.single-post .content p > br {
    margin-bottom: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
#spp-newsletter #gform_14 .gform_body {
    width: 47%;
}
}
@media (max-width: 767px) {
.single-post .well-blog .content > h2 {
    padding: 30px 20px 0;
    line-height: 1.2;
}
.single-post .well-blog .content > footer {
    border-bottom: 0 none;
    padding: 0 20px;
}
.single-post .well-blog .content > div[itemprop=articleBody] {
    padding: 20px 20px 0;
}
.single-post .well-blog > .comments, 
.single-post .well-blog #disqus_thread {
    padding: 0 20px;
}
.single-post .well-blog > .additional {
    padding: 0 20px 30px;
}
}


/*----- sidebar -----*/
div[role="complementary"] {
    padding-top: 30px;
}
div[role="complementary"] .inner {
    border: 0 none;
}
div[role="complementary"] > .inner > .search-widget:first-child {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}
div[role="complementary"] .inner .search-widget > form {
    margin-top: 0;
}
div[role="complementary"] .inner .search-widget > form > input.search-query {
    box-shadow: 0 0 0;
    font-size: 16px;
    padding: 12px 20px;
}
div[role="complementary"] .inner .search-widget > form > #searchsubmit {
    color: #000;
    font-size: 16px;
    padding: 9px 15px;
}

div[role="complementary"] .inner .textwidget, 
#single-post-page-sidebar-widget, 
#single-post-page-sidebar-widget > div {
    margin: 0;
}
#single-post-page-sidebar-widget > div {
    padding: 30px 10px;
    margin-top: 30px;
}
#single-post-page-sidebar-widget h3 {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    padding: 0;
    color: #fff;
    line-height: 26px;
}
#single-post-page-sidebar-widget p {
    line-height: 18px;
    margin-bottom: 15px;
    color: #fff;
}
#single-post-page-sidebar-widget input {
    font-size: 14px;
}

#spp-newsletter {
    background: #263747;
}
#spp-newsletter #gform_14 label {
    display: none;
}
#spp-newsletter #gform_14 .gform_body {
    display: inline;
    float: left;
    width: 55%;
}
#spp-newsletter #gform_14 .gform_footer {
    clear: none;
    display: inline;
    margin: 0 0 0 3px;
    padding: 0;
    width: 42%;
}

#spp-report {
    background: #00ADEF;
}
#spp-report a {
    color: #fff;
}

#spp-follow {
    background: #fff;
}
#spp-follow h3 {
    color: #213443;
    margin-bottom: 20px;
}
#spp-follow .follow-social > a:hover {
    text-decoration: none;
}
#spp-follow .follow-social > a {
    background: none repeat scroll 0 0 #00adef;
    display: block;
    float: left;
    margin: 0 2px;
    padding: 8px 0;
    width: 22%;
}
#spp-follow .follow-social i {
    color: #fff;
    font-size: 1.5em;
}

div[role="complementary"] .inner .widget > h3 {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-family: "proxima_nova_rgbold",lucida grande,Arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

div[role="complementary"] .inner .widget:nth-child(3) {
    margin-top: 30px;
}
div[role="complementary"] .inner .widget:nth-child(3) > h3 {
    color: #263747;
    margin-bottom: 15px;
    padding: 0;
}
div[role="complementary"] .inner .widget:nth-child(3) > h3:before {
    color: #03acf1;
    content: "\f02e";
    font-family: fontawesome;
    margin-right: 10px;
}
div[role="complementary"] .inner .widget:nth-child(3) > .textwidget > .row-condensed {
    margin: 10px 0 0;
}
div[role="complementary"] .inner .widget:nth-child(3) > .textwidget > .row-condensed img {
    border: 1px solid #ccc;
}
div[role="complementary"] .inner .widget:nth-child(3) > .textwidget > .row-condensed span[itemprop="name"] {
    font-size: 18px;
}

div[role="complementary"] .inner .widget:last-child {
    background: none repeat scroll 0 0 #263747;
    margin-top: 30px;
    padding: 15px;
}
div[role="complementary"] .inner .widget:last-child > h3 {
    color: #fff;
}
div[role="complementary"] .inner .widget:last-child > h3:before {
    color: #03acf1;
    content: "\f0ca";
    font-family: fontawesome;
    margin-right: 5px;
}
div[role="complementary"] .inner .widget:last-child > select {
    border: 0 none;
    border-radius: 4px;
    padding: 5px 10px;
}