/* page style */
a, a:focus, a:active, a:hover, object, embed { outline: none; text-decoration: none; }
/*:-moz-any-link:focus { outline: none; }*/
input::-moz-focus-inner { border: 0; }
:focus { outline: 0; }
body { background: #333; }
.brand { padding: 10px 40px !important; }
.navbar { border-bottom: 4px solid #888; }



/* MEGA MENU STYLE
********************************/
.mega-menu {
    width: 605px;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
}

.mega-menu li {
    display: inline-block;
    float: left;
    font-size: 0.94rem;
}

.mega-menu li.mega-menu-column {
    /*margin-right: 20px;*/
    width: 100%;
}

.mega-menu .nav-header {
    padding: 0 !important;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.mega-menu img { padding-bottom: 10px;}







/* Disable Toggle style
********************************/

/* Dropdown Toggle on style */
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: inherit; /* Set to inherit when using mouse hover to open dropdown */
    color: inherit;
}
/* Toggle off style */
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .nav > li.dropdown > a:focus {
    background: inherit;
    color: inherit;
}
/* Toggle hover */
.navbar .nav li.dropdown > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover {
    background-color: #DDDDDD;
}


/* Toggle caret*/
/*.navbar .nav li.dropdown > .dropdown-toggle .caret {*/
    /*border-bottom-color:;*/
    /*border-top-color:;*/
/*}*/
/* Toggle caret hover */
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
    border-bottom-color: #333;
    border-top-color: #333;
}
/* Toggle caret active */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color:#333;
    border-top-color: #333;
}



/* Hover style
********************************/
.navbar .nav > li > a, .mega-menu a
{
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;

    /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/
    -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
    -webkit-transform: translateZ(0);
}



nav[role="navigation"] ul:first-child {
    margin: 0;
}
.mega-menu > li ul[role="tablist"] {
    background: none repeat scroll 0 0 #434343;
}

.mega-menu > li ul[role="tablist"] > li.active a {
    color: #333;
    background: #EFEFEF;
}
.mega-menu > li ul[role="tablist"] > li.active a:hover,
.mega-menu > li ul[role="tablist"] > li.active a:focus,
.mega-menu > li ul[role="tablist"] > li.active a:active{
    border: 0;
}
.mega-menu > li ul[role="tablist"] > li a {
    color: #fff;
    border-radius: 0;
    border: 0;
}
.mega-menu > li ul[role="tablist"] > li a:hover,
.mega-menu > li ul[role="tablist"] > li a:focus,
.mega-menu > li ul[role="tablist"] > li a:active{
    color: #333;
}


.mega-menu li .tab-content a:hover h4 {
    color: #333;
}
.mega-menu li .tab-content a h4 {
    color: #0397d7;
}

.mega-menu > li .tab-content > div > div:first-child > div:first-child {
    border-left: 0 none;
}
.mega-menu > li .tab-content > div > div:first-child > div {
    border-left: 1px solid #d6d6d6;
    margin: 10px 0;
}
.mega-menu .morelink:hover,
.mega-menu .morelink:focus,
.mega-menu .morelink:active {
    color: #0397d7;
}

.mega-menu .nav-tabs {
    display: none;
}

#btn-mobile-menu {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC") no-repeat scroll center center #333333;
    display: block;
    height: 40px;
    top: 0;
    width: 40px;
}
.mm-list i {
    display: none;
}
.dropdown-menu {
    border-radius: 0 !important;
}
.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret, .nav li.active .dropdown-toggle .caret {
    border-bottom-color: #0397d7;
    border-top-color: #0397d7;
}
#menu-main-nav li ul[class="dropdown-menu"] > li:hover > a,
#menu-main-nav li ul[class="dropdown-menu"] > li > a:hover{
    background: none repeat scroll 0 0 #0397d7;
}